body {
    margin: 20px;
    background-color: white;
   }
*{
	box-sizing: border-box;
}

div[class="float-child-1"] img {
	width: 400px;
	height: 400px;
	object-fit: scale-down;
	float:left;
	min-height: 120px;
    max-height: auto;
	position:relative;
	text-align:justify;
	display: block;
} 

img {
	width: 200px;
	height: 200px;
	object-fit: scale-down;
	float:left;
	min-height: 80px;
    max-height: auto;
	position:relative;
	text-align:justify;
	display: block;
}

.float-container {
	font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding: 10px;
	width: 1800px;
	max-width: none;
}

.float-child-1 {
	font-family: 'Times New Roman', Times, serif;
	background-color:white;
    padding: 20px;
	border-radius: 5px;
	float:left;
	width: 65%;
	margin: 10px;
}   

.float-child-1 h2 {
	color: black;
	font-family: 'Times New Roman', Times, serif;
  	font-size:20px;
	text-align: justify;
	padding: 10px;
	border-bottom: 3px solid black;
}

.float-child-2 {
	font-family: 'Times New Roman', Times, serif;
	background-color: white;
    float: left;
    padding: 10px;
	border-radius: 10px;
	width: 33%;
}  

p{
	color: black;
	font-family: 'Times New Roman', Times, serif;
  	font-size:20px;
	text-align: justify;
	padding: 10px;
}

div[class="float-child-1"] a {
	color: black;
	display: block;
	margin-left:30%;
}


h1 {
	font-family:Georgia,serif;
	color:black;
	font-size:30px;
	line-height:1em;
	margin:0 0 0 60px;
	text-align: center;
	white-space: nowrap;
	display: block;
}

h2 {
	color: black;
	font-family: 'Times New Roman', Times, serif;
  	font-size:30px;
	text-align: justify;
	padding: 10px;
	text-align: center;
}

form {
	text-align: center;
}

input[type=text] {
	background-color: white;
	padding: 10px 30px;
	margin-left: 20px;
	box-shadow:rgba(7, 96, 148, 0.4) 5px 5px, rgba(7, 96, 148, 0.3)10px 10px,rgba(7, 96, 148, 0.2) 15px 15px, rgba(7, 96, 148, 0.1) 20px 20px, rgba(7, 96, 148,0.05) 25px 25px;
}



button {
	color: black;
	background-color: white;
	font-family: 'Times New Roman', Times, serif;
	padding: 10px 30px;
	box-shadow:rgba(7, 96, 148, 0.4) 5px 5px, rgba(7, 96, 148, 0.3)10px 10px,rgba(7, 96, 148, 0.2) 15px 15px, rgba(7, 96, 148, 0.1) 20px 20px, rgba(7, 96, 148,0.05) 25px 25px;
}

table {
	margin-left: 35px;
}

th, td {
	border: none;
	font-family: 'Papyrus';
	font-size: 21px;
	font-weight: bold;
	height: 75px;
	width: 380px;
	background: white;
	white-space: nowrap;
	text-align: center;
	color: #1c1c1c;
}

a {
	color: black;
	margin-left: 5%;
	text-decoration: none;
}